log_file_location_prefix=/weblogs/cert
log4j.properties_file_location_prefix=/apps/VBAIntDomain/cert/current/config
default_log_level=DEBUG
ecache_log_level=
load_balancing_host=bepcert.vba.va.gov
load_balancing_port=80
load_balancing_protocol=http
smtp_server=smtp.va.gov
ldap_server_address=ldap://vbaaus2dc1.vba.va.gov/o=va.gov
ldap_version=3
environment=cert
external=false
optimized_host=localhost
optimized_port=80
optimized_protocol=http
correspondence_liveCycle_fileSystem=/AdobeDoc/cert
correspondence_liveCycle_url=vbaausappdev1.vba.va.gov:61015
correspondence.liveCycle.endpoint=WS

