log_file_location_prefix=/weblogs/dev
log4j.properties_file_location_prefix=/apps/VBAIntDomain/dev/current/config
default_log_level=DEBUG
load_balancing_host=bepdev.vba.va.gov
load_balancing_port=80
load_balancing_protocol=http
smtp_server=smtp.va.gov
ldap_server_address=ldap://vbaaus2dc1.vba.va.gov/o=va.gov
ldap_version=3
environment=dev
external=false
optimized_host=localhost
optimized_port=80
optimized_protocol=http
correspondence_liveCycle_fileSystem=/AdobeDoc/devl
correspondence_liveCycle_url=vbaausappdev1.vba.va.gov:50015
correspondence.liveCycle.endpoint=WS
