<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<description>Reference Implementation of VBA J2EE Web Framework</description>
	<display-name>VBA Framework Implementation</display-name>
	 
	<filter>  
		<filter-name>SecurityFilter</filter-name>  
		<filter-class>gov.va.vba.framework.web.security.SecurityFilter</filter-class>  
		<init-param>
		    <param-name>excludedURLs</param-name>
        	<param-value>/bep/security/Popup.jsp;/bep/security/piv/redirect.jsp</param-value>					
		</init-param>
	</filter>	  
	
	<filter>  
		<filter-name>TestServiceFilter</filter-name>  
		<filter-class>gov.va.vba.framework.web.filter.TestServiceFilter</filter-class>  
	</filter>	  
	
	<filter-mapping>  
		<filter-name>SecurityFilter</filter-name>  	  	
		<url-pattern>*.do</url-pattern>

	</filter-mapping>
	<filter-mapping>  
		<filter-name>TestServiceFilter</filter-name>  	  	
		<url-pattern>*.do</url-pattern>

	</filter-mapping>
	
 	<!-- Main Struts Controller -->
  	<servlet>
	    <servlet-name>action</servlet-name>
	    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
	    <init-param>
	    	<param-name>config</param-name>
	      	<param-value>/WEB-INF/struts-config.xml</param-value>
	    </init-param>
	    <init-param>
	      	<param-name>debug</param-name>
	      	<param-value>6</param-value>
	    </init-param>
	    <init-param>
	      	<param-name>detail</param-name>
	      	<param-value>1</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
  	</servlet>
  	
	<servlet>
	    <servlet-name>Home</servlet-name>
	    <jsp-file>/home.jsp</jsp-file>
	</servlet>
	
	<!-- Servlet Mappings -->
	
	<servlet-mapping>
	    <servlet-name>Home</servlet-name>
	    <url-pattern>*home</url-pattern>   
	</servlet-mapping>	

  	<servlet-mapping>
    	<servlet-name>action</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>  	
  	
 
  	<!-- ____________________________START EJB REF's______________________________-->  
   	<ejb-local-ref>
		<ejb-ref-name>ejb/SecurityServiceV2Local</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>gov.va.vba.framework.services.CommonSecurityServiceLocalV2</local>
		<ejb-link>SecurityServiceV2Local</ejb-link> 
	</ejb-local-ref>		
  	<!-- ____________________________END EJB REF's______________________________ -->

  	
	<jsp-config/>
	
</web-app>

