log_file_location_prefix=/weblogs/idev
log4j.properties_file_location_prefix=/apps/VBAIntDomain/idev/current/config
default_log_level=DEBUG
load_balancing_host=bepintg.vba.va.gov
load_balancing_port=80
load_balancing_protocol=http
smtp_server=smtp.va.gov
ldap_server_address=ldap://vbaaus2dc1.vba.va.gov/o=va.gov
ldap_version=3
environment=idev
external=false
optimized_host=localhost
optimized_port=80
optimized_protocol=http
correspondence_liveCycle_fileSystem=/AdobeDoc/idev
correspondence_liveCycle_url=vbaausappdev1.vba.va.gov:60015
correspondence.liveCycle.endpoint=WS
