log_file_location_prefix=/weblogs/nrel
log4j.properties_file_location_prefix=/apps/VBAIntDomain/nrel/current/config
default_log_level=DEBUG
load_balancing_host=vbaauswebdev1.vba.va.gov
load_balancing_port=70
load_balancing_protocol=http
smtp_server=smtp.va.gov
ldap_server_address=ldap://vbaaus2dc1.vba.va.gov/o=va.gov
ldap_version=3
environment=nrel
external=false
optimized_host=localhost
optimized_port=80
optimized_protocol=http
correspondence_liveCycle_fileSystem=/AdobeDoc/nrel
correspondence_liveCycle_url=vbaausappdev1.vba.va.gov:62015
correspondence.liveCycle.endpoint=WS
